body{
   background-color: bisque;
}
.branco{
    color: black;
    width: 600px;
    text-align: justify;
}
section{
    margin: 25px left;
    width: 35px;
    height: 35px;
}
.social{
    width:35px;
    height:55px;
}
.icone{
    width: 40px;
}
.icone:hover{
    cursor: pointer;
}