*{
    box-sizing: border-box;
}
body{
    background: #8C3A4B;
}
.principal{
    width: 520px;
    height: 800px;
    margin: 6% auto;
    padding: 5px;
}
.principal img{
    border-radius: 60%;
    width: 350px;
}

.principal p{
    font-size: 20px;
}
ul{
    list-style-type: none;
}

ul li{
    width: 250px;
    height: 50px;
}
