*{
    box-sizing: border-box;
}
body{
    background: #8C3A4B;
}
.principal{
    width: 520px;
    height: 800px;
    margin: 2% auto;
    padding: 5px;
}
.principal img{
    border-radius: 50%;
    width: 340px;
}

.principal p{
    font-size: 20px;
}
ul{
    list-style-type: square;
    font-size: 18px;
}

ul li{
    width: 250px;
    height: 30px;
}
